body {
  min-width: 300px;
}


.jumbotron {
  /* height: 200px; */
  margin: 0;
  padding: 10px auto;
}

.bloclionel {
  padding-top: 7px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  background-color: grey;
}

.w95 {
  width: 95%;
}

footer {
  width: 100%;
  margin: 0 auto;
}

.vam {
  vertical-align: middle !important;
}

nav {
  background-color: rgba(97, 1, 1, .85);
}

.mylogo {
  border-radius: 4px 0;
}

#contentgc7 {
  position: relative;
  margin-top: 40px;
  color: rgb(65, 5, 5);
}

/* Bonne valeur: 575 
@media (min-width:0) {
  #contentgc7 {
  }
}
*/
/* top: 40px; */
/* background-color: rgb(148, 148, 255); */
