.jumbotron {
  // height: 200px;
  margin: 0;
  padding: 10px auto;
}

.bloclionel {
  padding-top: 7px;
  border: 1px solid blueviolet;
  border-radius: 4px;
  background-color: grey;
}

.w95 {
  width: 95%;
}

footer {
  width: 100%;
  margin: 0 auto;
}

.vam {
  vertical-align: middle !important;
}

nav{
  background-color: rgb(97, 1, 1);
}
.mylogo{
  border-radius: 4px 0;
}
