body {
  padding-top: 10px;
}

[class*="col"],
footer,
aside {
  background-color: lightblue;
  border: 1px solid blue;
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
}

.row {
  margin-bottom: 10px;
  height: 150px;
  background-color: #b4c8cf;
  border-radius: 7px;
}

.jumbotron{
  // height: 200px;
  margin: 0;
  padding: 10px auto;
}
